th.numeric,
td.numeric {
  text-align: right;
}

div.top-section {
  width: 940px;
  background: #FFFFFF;
  margin: 0 auto;
}

div.informational {
  padding: 2em 8em;
  font-size: 1.5em;
  line-height: 155%;
  text-align: left;
}

div.informational h1,
div.informational h2,
div.informational h3,
div.informational h4 {
  padding-top: 1em;
  color: #333;
}

div.informational h1 {
  margin-bottom: 18px;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 4em;
}

div.informational h2 {
  font-size: 1.8em;
  margin: 10px 4px 8px -20px;
  border-bottom: 1px solid #888;
}

div.informational p {
}

#calendar-section h1 {
  padding: 0.5em;
  background-color: #24130F;
  text-transform: none;
}

#calendar {
  border-spacing: 0;
  background: #FFFFFF;
}

#calendar td {
  height: 180px;
  width: 20%;
  vertical-align: top;
}

#calendar td.none {
  background-color: #000000;
}

#calendar td.dismissal {
  background-color: #FF99CC;
}

#calendar td.holiday {
  background-color: #FFCCEE;
}

#calendar td h4 {
  margin: 4px 4px;
  color: #808020;
  text-align: left;
}

#calendar td h5 {
  margin: 8px 0;
  color: #002020;
  font-size: 1em;
}

#calendar td ul {
  list-style: none;
}

#order-section {
  padding: 1em;
}

#order div.family-info {
  padding: 1em 0 2em 0;
}

#order div.family-info input {
  font-size: 2em;
}

#order td.closer {
  text-align: center;
  cursor: pointer;
}

#buttons {
  margin: 1em 0;
  padding-bottom: 1em;
}

#buttons input {
  font-size: 2em;
}

#buttons div.add {
  float: left;
  padding: 1em;
  font-size: 1.2em;
  cursor: pointer;
}

#buttons div.purchase {
  float: right;
}

div.info {
  padding-top: 1em;
}

div.info table {
  background: #FFFFFF;
}

div.info table td {
  padding: 0.5em;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

#confirm {
  padding: 1em 0;
  text-align: right;
}

#confirm input {
  font-size: 2em;
}

.error {
  background: #FFCCEE;
}

dl.receipt dt {
  font-weight: bold;
  color: #EDEF0E;
}

dl.receipt dd {
  margin: 0 0 0 4px;
  padding-bottom: 0.5em;
  color: #F0F0F0;
}

ul.picker {
  display: inline;
  padding: 0;
  margin: 0;
}

ul.picker li {
  display: inline;
  padding: 2px;
  margin: 0;
  font-family: fixed;
  font-size: x-small;
  border: 1px solid black;
  cursor: pointer;
}

ul.picker li.none {
  background: #FFFFFF;
}

ul.picker li.regular {
  background: #C0FFC0;
}

ul.picker li.double {
  background: #80D080;
  color: #FFFFFF;
}

span.all {
  color: #4999CB;
  cursor: pointer;
}
