th.numeric,
td.numeric {
  text-align: right;
}

#calendar-section {
  width: 940px;
  background: #FFFFFF;
  margin: 0 auto;
}

#calendar-section h1 {
  padding: 0.5em;
  background-color: #24130F;
  text-transform: none;
}

#calendar {
  border-spacing: 0;
}

#calendar td {
  height: 180px;
  width: 20%;
  vertical-align: top;
}

#calendar td.none {
  background-color: #000000;
}

#calendar td.dismissal {
  background-color: #FF99CC;
}

#calendar td.holiday {
  background-color: #FFCCEE;
}

#calendar td h4 {
  margin: 4px 4px;
  color: #808020;
  text-align: left;
}

#calendar td h5 {
  color: #002020;
  font-size: 1em;
}

#calendar td ul {
  list-style: none;
}

#order-section {
  padding: 1em;
}

#order div.family-info {
  padding: 1em 0 2em 0;
}

#order td.closer {
  text-align: center;
  cursor: pointer;
}

#buttons {
  margin: 1em 0;
}

#buttons input {
  font-size: 2em;
}

#buttons div.add {
  float: left;
}

#buttons div.purchase {
  float: right;
}

ul.picker {
  padding: 0;
  margin: 0;
}

ul.picker li {
  display: inline;
  padding: 2px;
  margin: 0;
  font-size: x-small;
  border: 1px solid black;
  cursor: pointer;
}

ul.picker li.none {
  background: #FFFFFF;
}

ul.picker li.regular {
  background: #D0FFD0;
}

ul.picker li.double {
  background: #90D090;
}
