.mediagroove table {
  width: 650px;
  border-collapse:collapse;
  border:1px solid #FFCA5E;
}
.mediagroove caption {
  font: 1.8em/1.8em Arial, Helvetica, sans-serif;
  text-align: left;
  text-indent: 10px;
  background: url(/images/bg_caption.jpg) right top;
  height: 45px;
  color: #FFAA00;
}
.mediagroove thead th {
  /* background: url(/images/bg_th.jpg) no-repeat right; */
  background: #999999;
  height: 47px;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0px 7px;
  margin: 20px 0px 0px;
  border-right: 1px solid #FCF1D4;
}
.mediagroove tbody tr {
  background: #FFFFFF url(/images/bg_td1.jpg) repeat-x top;
}
.mediagroove tbody tr.odd {
  background: #FFF8E8 url(/images/bg_td2.jpg) repeat-x;
}
.mediagroove tbody th {
  background: #DFDFDF;
}
.mediagroove tbody th,
.mediagroove td {
  font-size: 1.0em;
  line-height: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  padding: 10px 7px;
  border-top: 1px solid #FFCA5E;
  border-right: 1px solid #DDDDDD;
  /* text-align: left; */
}
.mediagroove a {
  color: #777777;
  font-weight: bold;
  text-decoration: underline;
}
.mediagroove a:hover {
  color: #F8A704;
  text-decoration: underline;
}
.mediagroove tfoot th {
  /* 
  background: url(/images/bg_total.jpg) repeat-x bottom;
  color: #FFFFFF;
  */
  background: #FFFFFF;
  color: #777777;
  height: 30px;
}
.mediagroove tfoot td {
  /*
  background: url(/images/bg_total.jpg) repeat-x bottom;
  color: #FFFFFF;
  */
  background: #EEEEEE;
  color: #777777;
  height: 30px;
  font-size: 1.2em;
}
